{% extends 'layout.html.twig' %}

{% import _self as fn %}

{% block content %}


<!-- HTML BOOTSTRAP -->

<nav class="navbar navbar-default" role="navigation">
    <!-- El logotipo y el icono que despliega el menú se agrupan para mostrarlos mejor en los dispositivos móviles -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img id="logo" src="{{ app.request.basepath }}/img/logo.png"></a>
    </div>
 
    <!-- INIT_MENU -->
    <!-- Agrupar los enlaces de navegación, los formularios y cualquier otro elemento que se pueda ocultar al minimizar la barra -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right navbar-menu">
            <li id="iconCity" class="active"><a>{{'city'|trans }}</a></li>
            <li id="iconSports"><a>{{'sports'|trans }}</a></li>
            <li id="iconColours"><a>{{'color'|trans }}</a></li>
            <li id="iconEvents"><a>{{'shops'|trans }}</a></li>
            <li id="iconPics"><a>{{'culture'|trans }}</a></li>
            <li id="iconVideo"><a>{{'traffic'|trans }}</a></li>
        </ul>
    </div>
    <!-- END_MENU -->

    <div class="nav-search" style="opacity: 1; height: auto;">
    <!-- INIT_BUSCADOR -->
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="sinceDate">{{ 'sinceDate'|trans }}</label>
                <input type="text" class="form-control input-lg" id="sinceDate" placeholder="{{ 'sinceDate'|trans }}" >
            </div>
            <div class="form-group">
                <label class="sr-only" for="searching">{{ 'Search'|trans }}</label>
                <input type="search" class="form-control input-lg" id="searching" placeholder="{{ 'Search'|trans }}" >
            </div>
        </form>
    <!-- END_BUSCADOR -->
    </div>
</nav>



<div class="container-fluid">
    <div class="row">

        <div class="col-md-8">
            <!-- INIT_MAP_CONTENT -->
            <div id="playerContainer">
                <div id="player_video_color" ></div>

                <div id="iconCity_central" class="box-central_content">
                    <div class="central_content" id="map_canvas">
                        <img src="{{ app.request.basepath }}/img/ejem.jpg">
                    </div>
                </div>

                <div id="iconSports_central" class="box-central_content">
                    <div class="central_content" id="map_canvas2"><img src="{{ app.request.basepath }}/img/ejem.jpg"></div>
                </div>

                <div id="iconEvents_central" class="box-central_content">
                    <div class="central_content" id="map_canvas3"><img src="{{ app.request.basepath }}/img/ejem.jpg"></div>
                </div>

                <div id="iconPic_central" class="box-central_content">
                    <div class="central_content" id="map_canvas6"><img src="{{ app.request.basepath }}/img/ejem.jpg"></div>
                </div>

                <div id="iconVideo_central" class="box-central_content">
                    <div class="central_content" id="map_canvas5"><img src="{{ app.request.basepath }}/img/ejem.jpg"></div>
                </div>

                <div id="iconColours_central" class="box-central_content">
                    <div class="central_content">
                        <div id="playerSimple"></div>
                <video id="video" src="http://innovacion.prisadigital.com/media/Color_Analisis_Nov2012.mp4" controls preload></video>
                    </div>
                </div>

                <div id="iconSearch_central" class="box-central_content">
                    <div class="central_content" id="map_canvas7"><img src="{{ app.request.basepath }}/img/ejem.jpg"></div>
                </div>
            </div>
            <!-- END_MAP_CONTENT -->
        </div>
        <div class="col-md-4">
            <!-- INIT_WIDGETS -->
            <div id="widgets">
                {{ fn.modulo(ciudad, 'City of Santander', 'mod_iconCity') }}  
                {{ fn.modulo(deporte, 'Sports in Santander', 'mod_iconSports') }}  
                {{ fn.moduloDataDirect(colores, 'Colors in Santander', 'mod_iconColours') }}   
                {{ fn.modulo(comercio, 'Shops in Santander', 'mod_iconEvents') }}  
                {{ fn.modulo(cultura, 'Culture in Santander',  'mod_iconPics') }}  
                {{ fn.modulo(trafico, 'Traffic in Santander',  'mod_iconVideo')}}
                {# Solving Issue #1 - @jesusMarevalo - 20140616 - Optimize the search interface #}
                {{ fn.modulo(search, 'Results',  'mod_iconSearch')}}
            </div>
            <!-- END_WIDGETS -->
        </div>
    </div>
</div>

<!-- HTML BOOTSTRAP -->




<script  type="text/javascript">
  var map;
  function initialize(position,origen) {
      var latlng = new google.maps.LatLng(43.469023,-3.785397);
      var myOptions = {
      	zoom: 13,
      	center: latlng,
      	zoomControl: false,
      	disableDefaultUI: true,
      	mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById(position), myOptions);
      google.maps.event.addListener(map, 'click' , function(event) { });

      if(origen =="city"){  {{ fn.marcadoresMapa(ciudad) }}   }
      if(origen =="sport"){ {{ fn.marcadoresMapa(deporte) }}  }	
      if(origen =="event"){ {{ fn.marcadoresMapa(comercio) }} }	
      if(origen =="video"){ {{ fn.marcadoresMapa(trafico) }}  }	
      if(origen =="pics"){  {{ fn.marcadoresMapa(cultura) }}  }
  }


  $(document).ready(function() {
      
      initialize("map_canvas","city");
      initialize("map_canvas7","");

      $("#iconSports").click(function () { initialize("map_canvas2","sport"); });
     
      $("#iconEvents").click(function () { initialize("map_canvas3","event"); });

      $("#iconPics").click(function () { initialize("map_canvas6","pics"); });

      $("#iconVideo").click(function () { initialize("map_canvas5","video"); });

      $("#searching").click(function () {        
          if (!init_search){
              initialize("map_canvas7","search");
              init_search = true;
          }
      });

      $("#iconColours").click(function () { document.getElementById('video').play(); });

  });

</script>	  

{% endblock %}	
			  
{% macro marcadoresMapa(content) %}
    {% for elem in content %}
        santanderEstePoint['{{ elem.id }}'] = new google.maps.Marker({
              position: new google.maps.LatLng({{ elem.lat }},{{ elem.lon }}),
              title: '{{elem.locationName}}\n{{elem.locationAddress}}\n{{elem.description}}',
              id: '{{ elem.id }}'
        });
        santanderEstePoint['{{ elem.id }}'].setMap(map);
        santanderEstePoint['{{ elem.id }}'].set('id','{{ elem.id }}');
        google.maps.event.addListener(santanderEstePoint['{{ elem.id }}'], 'click', santanderEsteClick);
    {% endfor %}
{% endmacro %}


{% macro moduloDataDirect(content, title, id) %}
    {% import _self as fn %}
        
    <div class="modulo_widget" id="{{ id }}">
      <div class="tit_widget">{{ title }}</div>
      <div class="content_widget">
        <ul class="jspPane">
            {% for elem in content %}
            <li>
                <img  src="{{ elem.icono }}">
                 <div class="txt_widget">
                     <p class="autor">{{ elem.autor }}</p>
                     <p>{{ elem.descripcion }}</p>
                 </div>
             </li>
            {% endfor %}
        </ul>
      </div>
    </div>
{% endmacro %}            

    
{% macro modulo(content, title, id) %}
    {% import _self as fn %}
        
    <div class="modulo_widget" id="{{ id }}">
      <div class="tit_widget">{{ title }}</div>
      <div class="content_widget">
          {{ fn.elems(content) }}
      </div>
    </div>
{% endmacro %}    

        
{% macro elems(content) %}
    <ul class="jspPane">
        {% for elem in content %}

         {% set fecha=elem.startTime| date('d-m-Y H:i:s') %}

             <li id="{{ elem.id }}" onclick="setFlagUp(this.id)">
                 {% if elem.firstTrigger in ['totalCheckIns', 'crowd_density', 'traffic_score', 'music_score'] %}
                     <img  src="{{ app.request.basepath }}/img/white_sensor.png">
                 {% elseif elem.firstTrigger == 'topTweets' %}
                     {%- if elem.profileImageUrl == '' -%}
                        <img  src="{{ app.request.basepath }}/img/twitter.png">
                     {%- else -%}
                        <img  src="{{ elem.profileImageUrl }}">
                     {% endif %}   
                 {% endif %}
                 <div class="txt_widget">
                     <p class="autor">
                         {%- if elem.firstTrigger == 'totalCheckIns' -%}
                         Social
                         {%- elseif elem.firstTrigger in ['crowd_density', 'traffic_score', 'music_score'] -%}
                         Sensor
                         {%- elseif elem.firstTrigger == 'topTweets' -%}
                            <a href="https://twitter.com/{{ elem.screenName }}" target="_blank" class="autor_twitter">@{{ elem.screenName }}</a>
                         {%- endif -%}
                         <span class="fecha">{{ fecha|date('d-m-Y H:i') }}</span>
                     </p>
                     <p>
                         {%- if elem.firstTrigger == 'totalCheckIns' -%}
                         Se observan personas en la {{ elem.locationName }}. Total checking {{ elem.totalCheck }}
                         {%- elseif elem.firstTrigger == 'crowd_density' -%}
                             {%- if elem.score <= 0.4 -%}
                                 Se observan 
                             {%- elseif elem.score <= 0.7 -%}
                                 Gran afluencia de 
                             {%- else -%}
                                 Afluencia masiva de 
                             {%- endif %} personas en la {{ elem.locationName }}. Crowd density {{ elem.score }}
                         {%- elseif elem.firstTrigger == 'traffic_score' -%}
                         Se observa tráfico alto de vehículos en los alrededores de {{ elem.locationName }}. Traffic score {{ elem.score }}
                         {%- elseif elem.firstTrigger == 'topTweets' -%}
                         {{ elem.tuitDescription | raw }}
                         {%- elseif elem.firstTrigger == 'music_score' -%}
                             {%- if elem.musicScoreObservation <= 0.4 -%}
                                 Audio análisis indica probabilidad de evento musical en  {{ elem.locationName }}. Crowd density {{ elem.score }} Music score {{ elem.musicScoreObservation }}
                             {%- elseif elem.score > 0.4 -%}
                                 Audio análisis indica alta probabilidad de evento musical en  {{ elem.locationName }}. Crowd density {{ elem.score }} Music score {{ elem.musicScoreObservation }}
                             {%- endif %} 
                         {%- endif -%}                            
                     </p>
                 </div>
             </li>
        {% endfor %}
    </ul>
    <input type="button" id="completeList" onclick="restoreList()" value="{{ 'back'|trans }}" />
{% endmacro %}
    
